{% extends "_global/index.html" %}

{% block naslov %} Admin Dashboard {% endblock %}

{% block main %}
{% spaceless %}
<div class="container">
    <div class="dashboard"><h1>List of all Clients</h1></div>

    <div class="filter-input-box">
        <form method="POST" action="{{ BASE }}admin/filter-users">
            <div class="row col-sm-12">
                <input type="text" name="global-name-filter" class="form-control col-md-3" placeholder="Enter name">
                <input type="text" name="global-email-filter" class="form-control col-md-3" placeholder="Enter email">
                <button type="submit" class="btn btn-danger"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>

    <div class="files">
        <div class="row col-sm-12">
            <div class="form-group col-sm-2">
                <label for="exampleFormControlSelect1">Choose preview</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>10</option>
                    <option>20</option>
                    <option>50</option>
                    <option>100</option>
                    <option>all</option>
                </select>
            </div>
        </div>

        

        <table class="table table-sm table-hover" id="client-table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Joined <a href="#"><i class="fa fa-sort sort-icon"></i></a></th>
                    <th scope="col">Client <a href="#"><i class="fa fa-sort sort-icon"></i></a></th>
                    <th scope="col">Email <a href="#"><i class="fa fa-sort sort-icon"></i></a></th>
                    <th scope="col">Co. No. <a href="#"><i class="fa fa-sort sort-icon"></i></a></th>
                </tr>
            </thead>
            <tbody>
                <tr id="filter-row">
                    <td id="empty-td"></td>
                    <td class="filter-date"><input type="text" class="form-control" id="filter-date" onkeyup="applyFilter()" placeholder="Search for dates.." title="Type in a date"></td>
                    <td class="filter-name"><input type="text" class="form-control" id="filter-name" onkeyup="applyFilter()" placeholder="Search for names.." title="Type in a name"></td>
                    <td class="filter-email"><input type="text" class="form-control" id="filter-email" onkeyup="applyFilter()" placeholder="Search for emails.." title="Type in a email"></td>
                    <td class="filter-number"><input type="text" class="form-control" id="filter-company-number" onkeyup="applyFilter()" placeholder="Search for Co. No." title="Type in a Co. No."></td>
                </tr>
                {% for client in clients %}
                {% set counter = ( counter | default(0) ) + 1 %}
                <tr class="client-table-row">
                    <th scope="row">{{ counter }}</th>
                    <td class="client-date">{{ client.created_at|escape }}</td>
                    <td class="client-name">{{ client.name|escape }}</td>
                    <td class="client-email">{{ client.email|escape }}</td>
                    <td class="client-number">{{ client.id_number|escape }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endspaceless %}
{% endblock %}

{% block scripts %} 
    <script src="{{ BASE }}assets/js/tableFilter.js"></script> 
{% endblock %}