{% extends "_global/index.html" %}
{% block css %}<link rel="stylesheet" href="{{ BASE }}assets/css/userManual.css">{% endblock %}

{% block naslov %} Admin Dashboard {% endblock %}

{% block main %}
{% spaceless %}
<div class="container-fluid">

    <h1 class="user-manual-title">User manual</h1>

    <div class="container">
        <div class="form-group col-md-12 text-justify user-manual">
            <section>
                <p>Within the main menu you will find several links: <b>Folders</b>, <b>Files</b>, <b>Clients</b>. 
                    On those pages you will be able to do the following:  
                </p>
                <table class="table table-striped table-bordered table-sm">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Folders</th>
                        </tr>
                        <tr>
                            <td scope="col">Function</td>
                            <td scope="col">Description</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Filters</td>
                            <td>Here you can search folders by date or name for whole application</td>
                        </tr>
                        <tr>
                            <td>Quick Filters (table)</td>
                            <td>Here you can search folders by date or name only for rendered data</td>
                        </tr>
                        <tr>
                            <td>Open folder icon</td>
                            <td>In order to access the files inside certain folder, click on this icon <a href="#" class="red-icon"><i class="fa fa-sign-in"></i></a></td>
                        </tr>
                        <tr>
                            <td>Download</td>
                            <td>By clicking on this icon <a href="#" class="red-icon"><i class="fa fa-download"></i></a>, you can download .zip file which contains all files of certain folder</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-striped table-bordered table-sm">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">Folder</th>
                        </tr>
                        <tr>
                            <td scope="col">Function</td>
                            <td scope="col">Description</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Filters</td>
                            <td>Here you can search folders by date or name for whole application</td>
                        </tr>
                        <tr>
                            <td>Quick Filters (table)</td>
                            <td>Here you can search folders by date or name only for rendered data</td>
                        </tr>
                        <tr>
                            <td>Open folder icon</td>
                            <td>In order to access the files inside certain folder, click on this icon <a href="#" class="red-icon"><i class="fa fa-sign-in"></i></a></td>
                        </tr>
                        <tr>
                            <td>Download</td>
                            <td>By clicking on this icon <a href="#" class="red-icon"><i class="fa fa-download"></i></a>, you can download .zip file which contains all files of certain folder</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>

</div>
{% endspaceless %}
{% endblock %}

{% block scripts %} 
    <script src="{{ BASE }}assets/js/adminDashboardFilter.js"></script>
{% endblock %}