{% extends "_global/index.html" %}

{% block naslov %} My Files {% endblock %}

{% block main %}
{% spaceless %}
<div class="container">
    <div class="files row">
        
        <table class="table table-sm table-hover" id="myTable">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Creation date <a href="#"><i class="fa fa-sort sort-icon"></i></a></th>
                    <th scope="col">Client <a href="#"><i class="fa fa-sort sort-icon"></i></a></th>
                    <th scope="col">Open</th>
                    <th scope="col">Downlaod</th>
                </tr>
            </thead>
            <tbody>
                <tr id="filter-row">
                    <td class="empty-td"></td>
                    <td class="filter-date"><input type="text" class="form-control" id="filter-date" onkeyup="applyFilter()" placeholder="Search for dates.." title="Type in a date."></td>
                    <td class="filter-client"><input type="text" class="form-control" id="filter-client" onkeyup="applyFilter()" placeholder="Search for clients.." title="Type in a client name."></td>
                    <td class="empty-td"></td>
                    <td class="empty-td"></td>
                </tr>
                {% for folder in folders %}
                {% set counter = ( counter | default(0) ) + 1 %}
                <tr class="client-table-row">
                    <th scope="row">{{ counter }}</th>
                    <td td class="folder-created-at">{{ folder.created_at|escape }}</td>
                    <td td class="folder-client-name">{{ folder.name|escape }}</td>
                    <td><a href="{{ BASE }}admin/folder/{{ folder.folder_id }}" class="red-icon"><i class="fa fa-sign-in"></i></a></td>
                    <td><a href="#" class="red-icon"><i class="fa fa-download"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endspaceless %}
{% endblock %}

{% block scripts %} <script src="{{ BASE }}assets/js/adminFoldersFilter.js"></script> {% endblock %}