{% extends "_global/index.html" %}

{% block naslov %} My Files {% endblock %}

{% block main %}
{% spaceless %}
<div class="container">
    <div class="files row">
        <table class="table table-sm table-hover" id="myTable">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Creation date <a href="#"><i class="fa fa-sort sort-icon"></i></a></th>
                    <th scope="col">Document name <a href="#"><i class="fa fa-sort sort-icon"></i></a></th>
                    <th scope="col">Status <a href="#"><i class="fa fa-sort sort-icon"></i></a></th>
                    <th scope="col">Results <a href="#"><i class="fa fa-sort sort-icon"></i></a></th>
                    <th scope="col">Download</th>
                    <th scope="col">Review</th>
                </tr>
            </thead>
            <tbody>
                <tr id="filter-row">
                    <td class="empty-td"></td>
                    <td class="filter-date"><input type="text" class="form-control" id="filter-date" onkeyup="applyFilter()" placeholder="Search for dates.." title="Type in a date."></td>
                    <td class="filter-document"><input type="text" class="form-control" id="filter-document" onkeyup="applyFilter()" placeholder="Search for documents.." title="Type in a document name."></td>
                    <td class="filter-status"><input type="text" class="form-control" id="filter-status" onkeyup="applyFilter()" placeholder="Search for status.." title="Type in a status."></td>
                    <td class="empty-td"></td>
                    <td class="empty-td"></td>
                    <td class="empty-td"></td>
                </tr>
                {% for item in filesInFolder %}
                {% set counter = ( counter | default(0) ) + 1 %}
                <tr class="client-table-row" id="file-{{ item.file_id }}">
                    <th scope="row">{{ counter }}</th>
                    <td class="folder-created-at">{{ item.created_at|escape }}</td>
                    <td class="folder-document-title">{{ item.title|escape }}</td>
                    <td class="folder-status">{{ item.status|escape }}</td>
                    <td class="folder-status">
                        <form method="POST" action="{{ BASE }}admin/folder/{{ folder.folder_id }}/file/{{ item.file_id }}/changeStatus">
                            <select name="status"
                                    class="form-control form-control-sm"
                                    onchange="this.parentElement.submit();">
                                <option {% if item.report_type == "Undetermined" %}selected{% endif %}>Undetermined</option>
                                <option {% if item.report_type == "Clean" %}selected{% endif %}>Clean</option>
                                <option {% if item.report_type == "Edited" %}selected{% endif %}>Edited</option>
                            </select>
                        </form>
                    </td>
                    <td><a href="{{ BASE }}admin/download/{{ item.file_id }}" class="red-icon"><i class="fa fa-download"></i></a></td>
                    <td><a href="#" class="btn btn-outline-danger" role="button">View report</a></td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
</div>
{% endspaceless %}
{% endblock %}

{% block scripts %}
<script src="{{ BASE }}assets/js/adminFolderFilter.js"></script>
<script>
    window.addEventListener('load', pageInit);

    function pageInit() {
        const id = window.location.hash;
        flashElement(document.getElementById(id.replace('#', '')));
    }

    function flashElement(element) {
        element.style.backgroundColor = '#e43';
        setTimeout(() => { element.style.backgroundColor = 'transparent'; }, 500);
        setTimeout(() => { element.style.backgroundColor = '#e43'; }, 1000);
        setTimeout(() => { element.style.backgroundColor = 'transparent'; }, 1500);
    }
</script>
{% endblock %}
