{% extends "_global/index.html" %}

{% block naslov %} Dashboard {% endblock %}

{% block main %}
{% spaceless %}
<div class="container">
    <div class="dashboard"><h1>Welcome to Dashboard!</h1></div>
</div>
{% endspaceless %}
{% endblock %}

{% block scripts %} <script src="{{ BASE }}assets/js/tableFilter.js"></script> {% endblock %}