{% extends "_global/index.html" %}

{% block css %}<link rel="stylesheet" href="{{ BASE }}assets/css/userDashboard.css">{% endblock %}

{% block naslov %} File upload {% endblock %}

{% block main %}
{% spaceless %}
<div class="container">
    <div class="col-md-6 col-sm-12 offset-md-3">
        <form method="post" action="{{ BASE }}user/uploaded-files" enctype="multipart/form-data" onsubmit="return validateForm();">
            <input type="hidden" name="file_groups" id="file_groups" value="1">

            <div class="form-group col-md-12">
                <label for="files-for-upload"><i class="fa fa-file"></i> Files for upload</label><br>
                <div id="files-for-upload"></div>
            </div>

            <div class="form-group">
                <div class="file-drop-areas" id="file-drop-area-holder"></div>
            </div>

            <div class="form-group col-md-12">
                <label for="select-existing-folder"><i class="fa fa-folder"></i> Select the destination folder:</label><br>
                <select class="form-control col-md-12"
                        id="select-existing-folder" name="select-existing-folder"
                        onchange="selectedFolderChanged();">
                    <option selected value="">Create a new folder</option>
                    {% for folder in folders %}
                    <option value="{{ folder.folder_id }}">{{ folder.name|escape }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group col-md-12" id="input-new-folder-holder">
                <label for="input-new-folder-name"><i class="fa fa-new"></i> New folder name:</label><br>
                <input type="text" id="input-new-folder-name" name="input-new-folder-name" class="form-control col-md-12" required
                    pattern="^[A-Za-z0-9 \'\.\-\_]+$" placeholder="Enter the name of the new destination folder.">
            </div>
        
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-danger col-md-4 offset-md-4 col-sm-12" name="submit">
                    Submit
                </button>
            </div>
        </form> 
        <div class="col-sm-12 text-center">
            If you don't want to upload file <a href="{{ BASE }}user/profile">go back</a>.
        </div>
    </div>
</div>
{% endspaceless %}
{% endblock %}

{% block scripts %}
    <script src="{{ BASE }}assets/js/tableFilter.js"></script>
    <script>
        function validateForm() {
            const newFolderName = document.getElementById('input-new-folder-name').value.trim();
            const selectedFolder = document.getElementById('select-existing-folder');

            if (selectedFolder.selectedIndex === 0 && newFolderName.length < 2) {
                return false;
            }

            return true;
        }

        let nextFileDropAreaId = 1;
        function createNewFileDropArea() {
            const fileDropArea = document.createElement('input');
            fileDropArea.type = 'file';
            fileDropArea.multiple = true;
            fileDropArea.name = `files_${nextFileDropAreaId}[]`;
            fileDropArea.classList.add('file-drop-area');
            fileDropArea.addEventListener('change', event => handleDroppedItems(event));
            document.getElementById('file-drop-area-holder').appendChild(fileDropArea);
            document.getElementById('file_groups').value = nextFileDropAreaId;
            nextFileDropAreaId++;
        }

        function selectedFolderChanged() {
            const newFolderInput = document.getElementById('input-new-folder-name');
            const newFolderHolder = document.getElementById('input-new-folder-holder');
            const selectedFolder = document.getElementById('select-existing-folder');
 
            if (selectedFolder.selectedIndex !== 0) {
                newFolderInput.value = '';
                newFolderInput.disabled = true;
                newFolderHolder.classList.add('d-none');
            } else {
                newFolderInput.disabled = false;
                newFolderHolder.classList.remove('d-none');
                newFolderInput.focus();
            }
        }

        function handleDroppedItems(ev) {
            for (var i = 0; i < ev.target.files.length; i++) {
                addFileToUploadList(ev.target.files[i]);
            }

            createNewFileDropArea();
        }

        function addFileToUploadList(file) {
            const fileList = document.getElementById('files-for-upload');

            const fileItem = document.createElement('div');
            fileItem.classList.add('form-control');
            fileItem.innerText = file.name;

            fileList.appendChild(fileItem);
        }

        function dragOverHandler(ev) {
            ev.preventDefault();
        }

        function pageInit() {
            createNewFileDropArea();
        }

        window.addEventListener('load', pageInit);
    </script>
{% endblock %}