{% extends "_global/index.html" %}

{% block naslov %} My Files {% endblock %}

{% block main %}
{% spaceless %}
<div class="container">
    <div class="files row">
        <table class="table table-sm table-hover" id="myTable">
            <thead>
                <tr>
                    <th colspan="2">
                        Items per page:
                        <select id="per-page-picker" class="form-control form-control-sm"
                                onChange="perPagePickerChangeHandler();">
                            {% for perPageOption in perPageOptions %}
                            <option value="{{ perPageOption }}" {% if perPageOption == perPage %}selected{% endif %}>
                                {% if perPageOption == 100000000000 %}
                                    All items
                                {% else %}
                                    {{ perPageOption }}
                                {% endif %}
                            </option>
                            {% endfor %}
                        </select>
                    </th>
                    <th colspan="5"></th>
                </tr>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">
                        Submission date
                        <a href="{{ BASE }}user/files/{{ perPage }}/0/created_at-{{ inverseOrderDirection }}">
                           <i class="fa fa-sort sort-icon"></i>
                        </a>
                        {% if orderBy == "created_at" %}{{ orderDirection }}{% endif %}
                    </th>
                    <th scope="col">
                        Title 
                        <a href="{{ BASE }}user/files/{{ perPage }}/0/title-{{ inverseOrderDirection }}">
                            <i class="fa fa-sort sort-icon"></i>
                        </a>
                        {% if orderBy == "title" %}{{ orderDirection }}{% endif %}
                    </th>
                    <th scope="col">
                        Status 
                        <a href="{{ BASE }}user/files/{{ perPage }}/0/status-{{ inverseOrderDirection }}">
                            <i class="fa fa-sort sort-icon"></i>
                        </a>
                        {% if orderBy == "status" %}{{ orderDirection }}{% endif %}
                    </th>
                    <th scope="col">Result</th>
                    <th scope="col">Downloads</th>
                </tr>
            </thead>
            <tbody>
                <tr id="filter-row">
                    <td id="empty-td"></td>
                    <td class="filter-date"><input type="text" class="form-control" id="filter-date" onkeyup="applyFilter()" placeholder="Search for dates.." title="Type in a date"></td>
                    <td class="filter-title"><input type="text" class="form-control" id="filter-title" onkeyup="applyFilter()" placeholder="Search for names.." title="Type in a name"></td>
                    <td class="filter-status"><input type="text" class="form-control" id="filter-status" onkeyup="applyFilter()" placeholder="Search for status." title="Type in a status."></td>
                    <td class="filter-result"><input type="text" class="form-control" id="filter-result" onkeyup="applyFilter()" placeholder="Search for result." title="Type in a Result."></td>
                    <td></td>
                </tr>
                {% for file in files %}
                {% set counter = ( counter | default(0) ) + 1 %}
                <tr class="client-table-row">
                    <th scope="row">{{ counter + perPage * page }}</th>
                    <td class="file-created-at" title="{{ file.created_at|escape }}">
                        {{ file.created_at|intervalDate|escape }}
                    </td>
                    <td class="file-title">{{ file.title|escape }}</td>
                    <td class="file-status">{{ file.status|escape }}</td>
                    <td class="file-result">Pending</td>
                    <td><a href="{{ BASE }}user/download/{{ file.file_id }}" class="red-icon"><i class="fa fa-download"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td>
                        {% if page > 0 %}
                        <a href="{{ BASE }}user/files/{{ perPage }}/{{ page - 1 }}/{{ orderBy }}-{{ orderDirection }}"
                           class="btn btn-link">
                            &laquo; Previous
                        </a>
                        {% endif %}
                    </td>
                    <td colspan="3"></td>
                    <td>
                        <a href="{{ BASE }}user/files/{{ perPage }}/{{ page + 1 }}/{{ orderBy }}-{{ orderDirection }}"
                           class="btn btn-link">
                           Next &raquo;
                        </a>
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endspaceless %}
{% endblock %}

{% block scripts %} <script src="{{ BASE }}assets/js/userFilesFilter.js"></script> {% endblock %}