{% extends "_global/index.html" %}

{% block main %}
<div class="container">
    <p>{{ message }}</p>

    <p>Click <a href="{{ BASE }}user/upload-files">here</a> to go back.</p>
</div>
{% endblock %}
