{% extends "_global/index.html" %}

{% block main %}
<div class="container">
    <form action="{{ BASE }}admin/register" method="POST" class="col-md-6 offset-md-3">
        <h1 class="form-group col-md-8 offset-2">Register new admin</h1>

        <div class="form-group col-md-12">
            <label for="input_name">Name:</label>
            <input type="text" id="input_name" name="reg_name" required
                pattern="^[A-Z][a-z]+$"  placeholder="Enter your name..." class="form-control">
        </div>

        <div class="form-group col-md-12">
            <label for="input_surname">Surname:</label>
            <input type="text" id="input_surname" name="reg_surname" required
                pattern="^[A-Z][a-z]+$" placeholder="Enter your lastname..." class="form-control">
        </div>

        <div class="form-group col-md-12">
            <label for="input_email"><i class="fa fa-at"></i> E-mail:</label>
            <input type="email" id="input_email" name="reg_email" required
                placeholder="Enter your e-mail..." class="form-control">
        </div>

        <div class="form-group col-md-12">
            <label for="input_username"><i class="fa fa-user"></i> Username:</label>
            <input type="text" id="input_username" name="reg_username" required
                pattern="^[A-Za-z0-9  .\_]+$" placeholder="Enter your username..." class="form-control">
        </div>

        <div class="form-group col-md-12">
            <label for="input_password_1"><i class="fa fa-lock"></i> Password:</label>
            <input type="password" id="input_password_1" name="reg_password_1" required
                pattern="^[A-Za-z0-9  .\_]+$" placeholder="Enter your password..." class="form-control">
        </div>

        <div class="form-group col-md-12">
            <label for="input_password_2"><i class="fa fa-lock"></i> Repeat your password:</label>
            <input type="password" id="input_password_2" name="reg_password_2" required
                pattern="^[A-Za-z0-9  .\_]+$" placeholder="Confirm your password..." class="form-control">
        </div>

        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-primary">
                Register
            </button>
        </div>
    </form>
</div>
{% endblock %}
