{% extends "_global/index.html" %}

{% block naslov %} Login {% endblock %}

{% block main %}
<div class="container">
    <form action="{{ BASE }}user/login" method="POST" class="col-md-6 offset-md-3 col-sm-12">
        <div class="form-group col-md-12">
            <label for="input_username"><i class="fa fa-user"></i> Username:</label><br/>
            <input type="text" id="input_username" name="login_username" class="form-control col-md-12" required
                pattern="^[A-Za-z0-9  .\_]+$" placeholder="Enter your username ...">
        </div>

        <div class="form-group col-md-12">
            <label for="input_password"><i class="fa fa-lock"></i> Password:</label><br/>
            <input type="password" id="input_password" name="login_password" class="form-control col-md-12" required
                    pattern="^[A-Za-z0-9  .\_]+$"  placeholder="Enter your password ...">
        </div>

        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-danger col-md-4 offset-md-4 col-sm-12">
                Log in
            </button>
        </div>
        <div class="col-sm-12 text-center">
            If you don't have account register <a href="{{ BASE }}user/register">here</a>.
        </div>
        <div class="col-sm-12 text-center">
            If you forgot your password click <a href="#">here</a>.
        </div>
    </form>
</div>
{% endblock %}
