{% extends "_global/index.html" %}

{% block naslov %} Register new user {% endblock %}

{% block main %}
<div class="container">
    <form action="{{ BASE }}user/register" method="POST" class="col-md-6 offset-md-3 col-sm-12">
        <h1 class="form-group col-sm-12">Register user</h1>

        <div class="form-group col-sm-12">
            <label for="input_name">Name:</label>
            <input type="text" id="input_name" name="reg_name" required
                pattern="^[A-Z][a-z]+$" placeholder="Enter your name..." class="form-control">
        </div>

        <div class="form-group col-sm-12">
            <label for="input_surname">Surname:</label>
            <input type="text" id="input_surname" name="reg_surname" required
                pattern="^[A-Z][a-z]+$" placeholder="Enter your password..." class="form-control">
        </div>

        <div class="form-group col-sm-12">
            <label for="input_id_number">ID number:</label>
            <input type="number" id="input_id_number" name="reg_id_number" required
                placeholder="Enter your ID number..." class="form-control">
        </div>

        <div class="form-group col-sm-12">
            <label for="input_email"><i class="fa fa-at"></i> E-mail:</label>
            <input type="email" id="input_email" name="reg_email" required
                placeholder="Enter your email address..." class="form-control">
        </div>

        <div class="form-group col-sm-12">
            <label for="input_username"><i class="fa fa-user"></i> Username:</label>
            <input type="text" id="input_username" name="reg_username" required
                pattern="^[A-Za-z0-9  .\_]+$" placeholder="Create your username..." class="form-control">
        </div>

        <div class="form-group col-sm-12">
            <label for="input_password_1"><i class="fa fa-lock"></i> Password:</label>
            <input type="password" id="input_password_1" name="reg_password_1" required
                pattern="^[A-Za-z0-9  .\_]+$" placeholder="Create password..." class="form-control">
        </div>

        <div class="form-group col-sm-12">
            <label for="input_password_2"><i class="fa fa-lock"></i> Repeat your password:</label>
            <input type="password" id="input_password_2" name="reg_password_2" required
                pattern="^[A-Za-z0-9  .\_]+$" placeholder="Repeat password..." class="form-control">
        </div>

        <div class="form-group col-sm-12">
            <button type="submit" class="btn btn-danger col-sm-12">
                Register
            </button>
        </div>
    </form>
</div>
{% endblock %}