{% extends "_global/index.html" %}

{% block naslov %} Home {% endblock %}

{% block css %}<link rel="stylesheet" href="{{ BASE }}assets/css/home.css">{% endblock %}

{% block homepage %}
{% spaceless %}

<div class="tm-section tm-bg-img" id="tm-section-1"></div>

<div class="tm-section-2">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="tm-section-title">Detect Fraud. Decrease Evictions.</h1>
                <p class="tm-color-white tm-section-subtitle">Data-driven fraud detection software spots fraudulent financial documents other tenant screening tools ignore.</p>
                <a href="{{ BASE }}user/register" class="tm-color-white tm-btn-white-bordered">Register</a>
            </div>                
        </div>
    </div>        
</div>

<div class="tm-section tm-position-relative">
    <svg viewBox="0 0 100 100" preserveAspectRatio="none" class="tm-section-down-arrow">
        <polygon fill="#ee5057" points="0,0  100,0  50,60"></polygon>                   
    </svg> 
    <div class="container tm-pt-5 tm-pb-4">
        <div class="row text-center">
            <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">                            
                <i class="fa fa-legal tm-fa-6x tm-color-primary tm-margin-b-20"></i>
                <h2 class="tm-color-primary tm-article-title-1">Reduce Fraud</h2>
                <p>Detect more fraudulent documents with our advanced data-driven forensics methods.</p>
                <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a>
            </article>
            <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">                            
                <i class="fa fa-desktop tm-fa-6x tm-color-primary tm-margin-b-20"></i>
                <h2 class="tm-color-primary tm-article-title-1">Screen Tenants Faster</h2>
                <p>Streamline the application and screening process so you can make informed decisions quickly.</p>
                <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a>                            
            </article>
            <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">                           
                <i class="fa fa-compress tm-fa-6x tm-color-primary tm-margin-b-20"></i>
                <h2 class="tm-color-primary tm-article-title-1">Reduce Costs</h2>
                <p>Reduce time spent evaluating documents and evicting tenants using our automated solution.</p>
                <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a>                           
            </article>
        </div>        
    </div>
</div>

<div class="container tm-pb-4">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h2>Avoid Expensive Evictions</h2>
                <hr>
                <p class="text-justify">The best way to avoid evictions is to adequately screen applicants—yet it’s easier than ever for tenants to alter documentation, such as pay stubs and bank statements, so they can fraudulently qualify for units.</p>
                <p class="text-justify">The digitization of the rental application process has led to rampant application fraud. In the past year, 97% of property managers have experienced application fraud, which accounts for an estimated 50% of evictions. At $7,000 or more per eviction, this is an expensive problem for landlords.</p>
                <p class="text-justify">To reduce evictions, you need to address the growing problem of document falsification.</p>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <i class="fa fa-building"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 text-center">
                <i class="fa fa-file"></i>
            </div>
            <div class="col-sm-12 col-md-6">
                <h2>Find Falsified Documents</h2>
                <hr>
                <p class="text-justify">Snappt is the ONLY platform that can minimize the risk of tenant fraud by identifying falsified documents. Snappt reduces the risk of bad debt with revolutionary data-driven fraud detection software.</p>
                <p class="text-justify">By implementing Snappt into your current leasing flow, you can provide your team with the necessary tools to combat this unchecked problem.</p>
            </div>
        </div>
</div>

<div class="tm-section-2 to-the-bottom">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="tm-section-title">Ready to fight tenant fraud?</h1>
                <p class="tm-color-white tm-section-subtitle">Protect your rental investments with SNAPPT. See how data-driven tenant screening can help you avoid evictions.</p>
                <a href="{{ BASE }}user/register" class="tm-color-white tm-btn-white-bordered">Register</a>
            </div>                
        </div>
    </div>        
</div>

{% endspaceless %}
{% endblock %}