{% extends "_global/index.html" %}

{% block main %}
<div class="container">
    <div>
        <p>{{ message }}</p>

        <p>Click <a href="{{ BASE }}admin/login">here</a> to go back.</p>
    </div>
</div>
{% endblock %}

