a, button { transition: all 0.3s ease; }
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

.tm-position-relative { position: relative; }
.tm-fa-6x { font-size: 6em; }
.tm-margin-b-0 { margin-bottom: 0; }
.tm-margin-b-20 { margin-bottom: 20px; }
.tm-color-white { color: white; }
.tm-color-primary {	color: #ee5057; }
.tm-bg-primary { background: #ee5057; }
.tm-bg-white { background: white; }

.tm-section-pad { padding: 30px 50px; }
.tm-section-pad-2 { padding: 30px 40px; }

a.tm-color-primary:hover,
a.tm-color-primary:active {
	color: #d53239;
}

.tm-font-semibold { font-weight: 600; }

p { 
	color: #898989; 
	line-height: 1.9;
}

.fa-file, .fa-building {
    color: #ee5057;
    font-size: 200px;
    margin-top: 15%;
}

.tm-section { min-height: 515px; }

.tm-section-pad {
	padding-top: 80px;
	padding-bottom: 80px;
}

#tm-section-1 {	
	background-image: url('../img/bg-img-1.jpg');	
	height: 515px;
}

.tm-bg-img {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center
}

/* https://css-tricks.com/creating-non-rectangular-headers/ */
.tm-section-down-arrow {
  position: absolute;
  top: -1px;
  width: 100%;
  height: 100px;
}

.tm-pt-5 { padding-top: 150px; }
.tm-pb-4 { padding-bottom: 100px; }

.tm-section-2 {
    background: #ee5057;
	padding-top: 50px;
    padding-bottom: 50px;
	position: relative;
}

.to-the-bottom {
    margin-bottom: -70px;
}

.tm-section-title {
	color: white;
	font-size: 3rem;
}

.tm-section-subtitle {
	font-size: 1rem;
	font-weight: 300;
	margin-bottom: 25px;
}

.tm-section-subtitle-2 { font-size: 1.8rem; }

.tm-btn-white-bordered {
	display: inline-block;
	padding: 10px 25px;
	border: 2px solid white;
	background: transparent;
	text-transform: uppercase;
}

.tm-btn-white-bordered:hover,
.tm-btn-white-bordered:focus {
	color: #ee5057;
	background: white;	
}

.tm-article {
	padding: 40px;
	transition: all 0.3s ease;
}

.tm-article:hover {
	-webkit-box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
	-moz-box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
	box-shadow: 0px 0px 7px 0px rgba(214,214,214,1);
	transform: scale(1.1);
}

.tm-article-title-1 {
	font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 20px;
}

@media screen and (max-width: 991px) {
	.tm-top-bar.active, .tm-top-bar, .tm-top-bar-bg { height: 65px; }
	.tm-top-bar.active .navbar-expand-lg .navbar-nav .nav-link,
	.tm-top-bar .navbar-expand-lg .navbar-nav .nav-link {
	    padding: 12px 15px;
	}
}

@media screen and (max-width: 767px) {
	#tm-section-1 {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media screen and (max-width: 524px) {
	#tm-section-1 { height: 600px; }
}