* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0 auto;
    width: 100%;
    /*background-color: #EAE7DC;*/
    background-color: #fff;
}

.glavni-meni {
    width:100%;
}

.main-menu { 
    /*background-color: #B32038;*/
    /*background-color: #007bff;*/
    /*background-color: rgba(192,187,167,0.5);*/
    background-color: #fff;
    width: 100%;
    padding: 15px 30px;
}

.navbar-toggler {
    margin-left: 46.5%;
}

.nav-link {
    /*color: #fff !important;*/

    /*color: #E85A4F !important;
    text-align: center !important;
    font-size: 18px;
    padding: 15px 30px;*/
    color: #756f6f !important;

    background: transparent;
	border-left: 1px solid #756f6f;
	cursor: pointer;
	font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px;
    transition: all 0.3s ease;
}

.nav-link:last-child { border-right: 1px solid #756f6f; }

/*.nav-link:hover { 
    //color: #e4e1e1 !important;

    color: #f38b7f !important;
}*/

.nav-link:hover {
	color: #fff !important;
	background: #ee5057;	
}

main { margin-top: 5%;}

.files {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    flex-wrap: wrap;
}

.file {
    width: 50%;
    text-align: center;
    padding: 50px 100px;
    border: 1px solid #ccc;
    background: rgba(200, 200, 200, 0.2);
    text-decoration: none;
    color: #000;
}

.file:hover {
    border: 1px solid #000;
    background: rgba(200, 200, 200, 0.6);
}

.red-icon {
    /*color: #fff !important;*/
    color: #E85A4F !important;
    font-size: 18px;
    padding: 0px 15px;
}

.red-icon:hover {
    color: #f38b7f !important;
}

.sort-icon {
    /*color: #fff !important;*/
    color: #E85A4F !important;
    font-size: 18px;
    margin-left: 10px;
}

.sort-icon:hover {
    color: #f38b7f !important;
}

.file-download:hover { 
    /*color: #e4e1e1 !important;*/
    color: #f38b7f !important;
}

/*.link > a{
    text-decoration: none;
    color: #fff;
}*/

.form-control:focus {
    border-color: #C82333 !important;
    box-shadow: 0 0 5px rgba(200, 35, 51, 1) !important;
  }

.site-footer {
    margin-top: 40px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /*background-color: #007bff;*/
    background-color: #8E8D8A;
    color: #fff;
    text-align: center;
}

.file-drop-area {
    border: 1px solid #8E8D8A;
    padding: 40px 20px;
    text-align: center;
    font-weight: bold;
}

.file-drop-area:hover {
    background-color: #eeeeee;
}

.file-drop-areas input {
    display: none;
}

.file-drop-areas input:last-child {
    display: block;
}
