* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Calibri, Arial, Helvetica, sans-serif;
    margin: 0px auto;
}

main {
    margin-top: 0px !important;
}

h1 {
    margin-top: 5mm;
    margin-bottom: 10mm;
    font-size: 16pt;
    font-weight: bold;
}

h2 {
    font-size: 14pt;
    font-weight: bold;
}

h3 {
    font-size: 13pt;
    font-weight: bold;
}

.report-summary {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.score-summary-1 {
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}

.score-summary-2 {
    border: 1px solid #000;
}

.score-summary-3 {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}

@media print {
    body {
        margin: 0px;
        width: 210mm !important;
        height: 297mm !important;
        padding: 15mm !important;
        box-sizing: border-box;
    }

    .hide-in-print-mode {
        display: none;
    }

    .site-footer {
        display: none;
    }

    .a4 {
        border: none;
    }

    .report-summary {
        display: none;
    }
}