{% extends "_global/index.html" %}

{% block naslov %} Folder files {% endblock %}

{% block main %}
{% spaceless %}
<div class="container">
    <div class="files row">
        {{ message }}
    </div>
</div>
{% endspaceless %}
{% endblock %}
