{% extends "_global/index.html" %}

{% block naslov %} My Files {% endblock %}

{% block main %}
{% spaceless %}
<div class="container">
    <div class="files row">
        {% if message %}
            {{ message }}
        {% else %}
        <table class="table table-sm table-hover" id="myTable">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Creation date <a href="#"><i class="fa fa-sort sort-icon"></i></a></th>
                    <th scope="col">Document name <a href="#"><i class="fa fa-sort sort-icon"></i></a></th>
                    <th scope="col">Status <a href="#"><i class="fa fa-sort sort-icon"></i></a></th>
                    <th scope="col">Download</th>
                </tr>
            </thead>
            <tbody>
                <tr id="filter-row">
                    <td class="empty-td"></td>
                    <td class="filter-date"><input type="text" class="form-control" id="filter-date" onkeyup="applyFilter()" placeholder="Search for dates.." title="Type in a date."></td>
                    <td class="filter-document"><input type="text" class="form-control" id="filter-document" onkeyup="applyFilter()" placeholder="Search for documents.." title="Type in a document name."></td>
                    <td class="filter-status"><input type="text" class="form-control" id="filter-status" onkeyup="applyFilter()" placeholder="Search for status.." title="Type in a status."></td>
                    <td class="empty-td"></td>
                </tr>
                {% for item in filesInFolder %}
                {% set counter = ( counter | default(0) ) + 1 %}
                <tr class="client-table-row">
                    <th scope="row">{{ counter }}</th>
                    <td class="folder-created-at">{{ item.created_at|escape }}</td>
                    <td class="folder-document-title">{{ item.title|escape }}</td>
                    <td class="folder-status">{{ item.status|escape }}</td>
                    <td><a href="{{ BASE }}user/download/{{ item.file_id }}" class="red-icon"><i class="fa fa-download"></i></a></td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endspaceless %}
{% endblock %}

{% block scripts %} <script src="{{ BASE }}assets/js/userFolderFilter.js"></script> {% endblock %}