{% extends "_global/index.html" %}

{% block naslov %} My Files {% endblock %}

{% block css %}<link rel="stylesheet" href="{{ BASE }}assets/css/а4.css">{% endblock %}

{% block main %}
{% spaceless %}

<div class="container a4">
    <h1>Report</h1>

    <div class="row col-sm-5">
        <h2>Date:&nbsp;</h2>
        <p>{{ folder.created_at|escape }}</p>
    </div>
    
    <h2>Applicant</h2>
    {{ folder.name|escape }}<br><br>

    <div class="row">
        <div class="col-sm-3">
            <h2>Property name</h2>
            <p>Cameo</p>
        </div>
        <div class="col-sm-3 offset-sm-6">
            <h2>Contact information</h2>
            <p>P: (213) 514-2833</p>
            <p>E: scvranesh@att.net</p>
        </div>
    </div>

    <h2>Property Address</h2>
    <p>1055 W. Town and Country Road</p>

    <h2>Unit Number</h2>
    <p>124</p>

    <h2>Application Notes</h2>
    <p>No notes</p>

    <h2>Fraud summary</h2>
    <p>Document results</p>

    <div class="row text-center">
        <div class="col-sm-4 score-summary-1">
            <h3>Passed</h3>
            <p>4 document(s)</p>
        </div>

        <div class="col-sm-4 score-summary-2">
            <h3>Failed</h3>
            <p>No documents</p>
        </div>

        <div class="col-sm-4 score-summary-3">
            <h3>Insufficient Documentation</h3>
            <p>No documents</p>
        </div>
    </div>

    <div class="hide-in-print-mode">
        <br><br><br>
        <button class="btn btn-outline-danger" role="button" type="button" onclick="window.print();">Print <i class="fa fa-print"></i></button>
    </div>

</div>

<div class="container report-summary">
    <div class="files row">        
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Creation date</th>
                    <th scope="col">File name</th>
                    <th scope="col">Report status</th>
                    <th scope="col">Comment</th>
                </tr>
            </thead>
            <tbody>
                {% for report in reports %}
                {% set counter = ( counter | default(0) ) + 1 %}
                <tr class="client-table-row">
                    <th scope="row">{{ counter }}</th>
                    <td>{{ report.created_at|escape }}</td>
                    <td>{{ report.title|escape }}</td>
                    <td>{{ report.report_type|escape }}</td>
                    <td>{{ report.comment|escape }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endspaceless %}
{% endblock %}