{% extends "_global/index.html" %}
{% block css %}<link rel="stylesheet" href="{{ BASE }}assets/css/adminAllFiles.css">{% endblock %}

{% block naslov %} Admin Dashboard {% endblock %}

{% block main %}
{% spaceless %}
<div class="container">

    <div class="files">
        <table class="table table-sm table-hover" id="myTable">
            <thead>
                <tr>
                    <th colspan="2">
                        Items per page:
                        <select id="per-page-picker" class="form-control form-control-sm"
                                onChange="perPagePickerChangeHandler();">
                            {% for perPageOption in perPageOptions %}
                            <option value="{{ perPageOption }}" {% if perPageOption == perPage %}selected{% endif %}>
                                {% if perPageOption == 100000000000 %}
                                    All items
                                {% else %}
                                    {{ perPageOption }}
                                {% endif %}
                            </option>
                            {% endfor %}
                        </select>
                    </th>
                    <th colspan="5"></th>
                </tr>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Submmission date <a href="#"><i class="fa fa-sort sort-icon"></i></a></th>
                    <th scope="col">Title <a href="#"><i class="fa fa-sort sort-icon"></i></a></th>
                    <th scope="col">Status <a href="#"><i class="fa fa-sort sort-icon"></i></a></th>
                    <th scope="col">Result <a href="#"><i class="fa fa-sort sort-icon"></i></a></th>
                    <th scope="col">Download</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr id="filter-row">
                    <td id="empty-td"></td>
                    <td class="filter-date"><input type="text" class="form-control" id="filter-date" onkeyup="applyFilter()" placeholder="Search for dates.." title="Type in a date"></td>
                    <td class="filter-title"><input type="text" class="form-control" id="filter-title" onkeyup="applyFilter()" placeholder="Search for names.." title="Type in a name"></td>
                    <td class="filter-status"><input type="text" class="form-control" id="filter-status" onkeyup="applyFilter()" placeholder="Search for status." title="Type in a status."></td>
                    <td class="filter-result"><input type="text" class="form-control" id="filter-result" onkeyup="applyFilter()" placeholder="Search for result." title="Type in a Result."></td>
                    <td></td>
                    <td></td>
                </tr>
                {% for file in files %}
                {% set counter = ( counter | default(0) ) + 1 %}
                <tr class="client-table-row">
                    <th scope="row">{{ counter }}</th>
                    <td class="file-created-at">{{ file.created_at|escape }}</td>
                    <td class="file-title">{{ file.title|escape }}</td>
                    <td class="file-status">{{ file.status|escape }}</td>
                    <td class="file-result">
                        
                    </td>
                    <td>
                        <a href="{{ BASE }}admin/download/{{ file.file_id }}" class="red-icon"><i class="fa fa-download"></i></a>
                    </td>
                    <td><a href="#" class="btn btn-outline-danger" role="button">View report</a></td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td>
                        {% if page > 0 %}
                        <a href="{{ BASE }}admin/files/{{ perPage }}/{{ page - 1 }}/{{ orderBy }}-{{ orderDirection }}"
                           class="btn btn-link">
                            &laquo; Previous
                        </a>
                        {% endif %}
                    </td>
                    <td colspan="3"></td>
                    <td>
                        <a href="{{ BASE }}admin/files/{{ perPage }}/{{ page + 1 }}/{{ orderBy }}-{{ orderDirection }}"
                           class="btn btn-link">
                           Next &raquo;
                        </a>
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endspaceless %}
{% endblock %}

{% block scripts %} 
    <script src="{{ BASE }}assets/js/adminDashboardFilter.js"></script>
    <script src="{{ BASE }}assets/js/adminAllFiles.js"></script>
{% endblock %}