<a class="nav-item nav-link" href="{{ BASE }}admin/profile"><i class="fa fa-home"></i> Home<span class="sr-only">(current)</span></a>
<a class="nav-item nav-link" href="{{ BASE }}admin/folders">Folders</a>
<a class="nav-item nav-link" href="{{ BASE }}admin/files">Files</a>
<a class="nav-item nav-link" href="{{ BASE }}admin/clients">Clients</a>
<a class="nav-item nav-link" href="{{ BASE }}admin/logout"><i class="fa fa-sign-out"></i> Logout</a>