<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vlada - {% block naslov %}{% endblock %}</title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link rel="icon" href="{{ BASE }}assets/img/favicon.png" type="image/x-icon"/>
        <link rel="shortcut icon" href="{{ BASE }}assets/img/favicon.png" type="image/x-icon"/>

        <link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{ BASE }}assets/css/main.css">
        {% block css %}{% endblock %}
    </head>

    <body>
        <header>
            <div class="glavni-meni">
                <nav class="navbar main-menu navbar-expand-lg navbar-light">
                    <a class="navbar-brand mr-1" href="#"><img src="{{ BASE }}assets/img/logo.png" alt="company-logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center order-2" id="navbarNavAltMarkup">
                        <div class="navbar-nav nav-fill w-50">
                            {% include '_global/menu.html' %}
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <div class="home-page">
            {% block homepage %}
            {% endblock %}
        </div>

        <div class="container-fluid">   
                <main>
                    {% block main %}
                    {% endblock %}
                </main>

            <footer class="site-footer">&copy; Vlada - {{ "now"|date('m/Y', timezone="Europe/Belgrade") }}</footer>
        </div>
        <script>const BASE = '{{ BASE }}';</script>
        <script src="{{ BASE }}assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="{{ BASE }}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>