<a class="nav-item nav-link" href="{{ BASE }}user/profile"><i class="fa fa-home"></i> Home<span class="sr-only">(current)</span></a>
<a class="nav-item nav-link" href="{{ BASE }}user/upload-files">Upload file</a>
<a class="nav-item nav-link" href="{{ BASE }}user/folders">Folders</a>
<a class="nav-item nav-link" href="{{ BASE }}user/files">Files</a>
<a class="nav-item nav-link" href="{{ BASE }}user/logout"><i class="fa fa-sign-out"></i> Logout</a>